* {
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
    box-sizing: border-box;
}

.container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 1200px;
    margin: 0 auto;
}

#section_text_2 {
    background-color: #f3f3f3;
    height: 120px;

    align-items: center;
    align-content: center;
}

#section_text_2 .alpha img {
    height: 40px;
    width: 170px;
    object-fit: contain;
}

#section_text_2 .omega a {
    height: 50px;
    width: 160px;
    background-color: #f77825;
    padding: 16px 30px;
    list-style: none;
    border-radius: 5px;
}

#section_text_2 .omega span {
    display: inline-block;
    color: #fffdff;
    text-decoration: none;
    font-weight: bold;
}

a {
    text-decoration: none;
}

ul li {
    list-style: none;
}

#section_header_1 {
    height: 105px;
    align-items: center;
    align-content: center;
}

#section_header_1 ul {
    display: flex;
    gap: 55px;
}

#section_header_1 ul li a {
    font-weight: bold;
    font-size: 20px;
    color: gray;
}

#section_header_1 #navbar-collapse-02 ul {
    display: flex;
    gap: 30px;
    color: gray;
}

.svg-inline--fa {
    font-size: 25px;
}

#section_slider {
    background-color: #f3f3f3;
    height: 670px;
    align-content: center;
}

#section_slider img {
    border-radius: 10px;
    max-width: 1200px;

}

#section_slider .item {
    position: relative;
}
#section_slider .carousel-caption {
    position: absolute;
    bottom: 40px;
    left: 30px;
    
}

#section_slider .carousel-caption h3 {
    font-size: 35px;
    color: #fffdff;
}

#section_slider .carousel-caption p {
    font-size: 20px;
    color: #fffdff;
    margin-top: 5px;
    
}

.top_padding {
    padding-top: 100px;
    padding-bottom: 25px;
    padding-left: 65px;
    padding-right: 65px;

    display: flex;
    align-items: center;

    gap: 150px;
    height: 475px;
}

.top_padding .logo_style {
    border-radius: 50%;
    margin-bottom: 30px;
    height: 250px;
    width: 250px;
    object-fit: contain;
}
.top_padding .gym_st {
    margin-bottom: 30px;
}
.top_padding .gym_st .editContent {
    font-weight: bold;
    font-size: 22px;
    margin-top: 40px;
}
.top_padding .gym_text .editContent {
    color: gray;
    font-size: 18px;
}

.top_padding .text_gym_style {
    margin-bottom: 40px;
}

.top_padding .part_st {
    text-align: center;
}

.top_padding .slow_fade {
    background-color: rgb(255 136 51);
    padding: 15px 25px;
    color: #fffdff;
}

#section_intro_title{
    
    background-color: #f3f3f3;
}
#section_intro_title .container{
    gap:30px;
    justify-content: space-between;
    padding-top: 15px;
    padding-bottom: 100px;
}

#section_intro_title .one-third{
border: 3px solid rgb(227, 224, 224);
padding: 55px 45px 80px 80px;
align-items: center;
background-color: #fffdff;
width: 245px;
height: 400px;
padding-bottom: 60px;
padding-left: 70px;
padding-right: 70px;

}
#section_intro_title .flat_pricing{
    display: flex;
    flex-direction: column;
    align-items: center;
} 

#section_intro_title .flat_pricing .blue_text strong{
    color: #2dc0e8;
    font-size: 60px;
}

#section_intro_title .flat_pricing .orange strong{
    color: #f77825;
    font-size: 60px;
}

#section_intro_title .flat_pricing .blue_text{
    margin-bottom: 15px;
}
#section_intro_title .flat_pricing .light_gray{
    margin-bottom: 60px;
}
#section_intro_title .flat_pricing .light_gray strong{
    font-size: 20px;
    color: gray;
    font-weight: bold;
}

.pix_text .editContent{
    color: gray;
    font-size: 20px;
}

.pix_text{
    margin-bottom: 40px;
}

.pix_text:nth-child(3){
    margin-bottom: 0;
}


.flat_pricing_list {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.active_bg_open.blue_bg{
    background-color: #2dc0e8;
    padding: 20px 25px;
    width: 170px;
    height: 30px;
    margin-top: -30px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.active_bg_open.orange_bg{
    background-color: #f77825;
    padding: 20px 25px;
    width: 170px;
    height: 30px;
    margin-top: -12px;
    
    display: flex;
    align-items: center;
    justify-content: center;
}
.active_bg_open span{
    font-weight: bold;
    color: #fffdff;
    font-size: 20px;
}


#section_party_3{
background-color: rgb(25 25 25);
height: 730px;

}

#section_party_3 .text_input{
    border: 0.1px solid gray;
    padding-top: 65px;
    max-width: 560px;
    background-color: #151515;
    padding-left: 25px;
    padding-right: 25px;
}

#section_party_3 .container{
    padding-top: 90px;
  text-align: center;
    justify-content: center;
    
}

#section_party_3 .pix_text{
    color: #fffdff;
    font-size: 30px;
    font-weight: bold;
    width: 480px;
  
}

#section_party_3 .subtext_style{
    padding-top: 80px;
    padding-bottom: 60px;
font-size: 20px;
color: gray;

position: relative;

}
#section_party_3 .subtext_style::before{
    content: "";
    width: 100px;
    height: 8px;
    background: hsl(216.37deg 76.28% 50.39%);
    position: absolute;
    left: 200px;
    bottom: 140px;
}


#section_party_3 .subtext_style span{
    display: inline-block;
    width: 400px;
}

#section_party_3 #contact_form{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

#section_party_3 #contact_form .pix_text{
    color: gray;
    font-size: 20px;
    font-weight: 400;
    padding: 15px 15px 15px 15px ;
}
#section_party_3 #contact_form #email{
  margin-top: -20px;
  margin-bottom: 20px;
}
#section_party_3 #submit_btn_15{
    width: 510px;
    background-color: hsl(216.37deg 76.28% 50.39%);
    border: none;
    border-radius: 10px;
}


#section_party_3 #submit_btn_15 .editContent{
    color: #fffdff;
    font-weight: bold;
}



#section_party_4{
    background-color: #151515;
    
    height: 75px;
    align-content: center;
}

#section_party_4 .footer{
    width: 100%;
    display: flex;
    gap:200px;

}

#section_party_4 .footer .alpha{
   flex: 6;
    
}

#section_party_4 .footer .omega{
    display: flex;
    text-align: end;
    flex: 5;
    
    gap: 25px;
}

#section_party_4 .footer .alpha .rights_st{
font-size: 19px;
color: gray;
}
#section_party_4 .footer .alpha .pixfort_st{
    color: hsl(205.45deg 74.66% 43.33%);
    font-weight: bold;
}
#section_party_4 .footer .omega .pix_text{
    color: gray;
    font-size: 19px;
}
#section_party_4 .footer .omega .icon{
    display: flex;
    gap:20px;
    color: white;
}




 